<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.afcat.shcpemonitor.modules.sys.dao.SysParamMapper" >
  <resultMap id="BaseResultMap" type="cn.com.afcat.shcpemonitor.modules.sys.entity.SysParam" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PARAM_NAME" property="paramName" jdbcType="VARCHAR" />
    <result column="PARAM_DESC" property="paramDesc" jdbcType="VARCHAR" />
    <result column="PARAM_VALUE" property="paramValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PARAM_NAME, PARAM_DESC, PARAM_VALUE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_PARAM
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_PARAM
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.afcat.shcpemonitor.modules.sys.entity.SysParam" >
    insert into SYS_PARAM (ID, PARAM_NAME, PARAM_DESC, 
      PARAM_VALUE)
    values (#{id,jdbcType=BIGINT}, #{paramName,jdbcType=VARCHAR}, #{paramDesc,jdbcType=VARCHAR}, 
      #{paramValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.afcat.shcpemonitor.modules.sys.entity.SysParam" >
    insert into SYS_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="paramName != null" >
        PARAM_NAME,
      </if>
      <if test="paramDesc != null" >
        PARAM_DESC,
      </if>
      <if test="paramValue != null" >
        PARAM_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null" >
        #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.afcat.shcpemonitor.modules.sys.entity.SysParam" >
    update SYS_PARAM
    <set >
      <if test="paramName != null" >
        PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null" >
        PARAM_DESC = #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.afcat.shcpemonitor.modules.sys.entity.SysParam" >
    update SYS_PARAM
    set PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      PARAM_DESC = #{paramDesc,jdbcType=VARCHAR},
      PARAM_VALUE = #{paramValue,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>