body{font-family:"΢���ź�","Microsoft YaHei";}
a,input,button{font-family:"΢���ź�","Microsoft YaHei";}
#jump-content label{font-family:"΢���ź�","Microsoft YaHei";}
#page-content label{font-family:"΢���ź�","Microsoft YaHei";}
body .clearfix{width:auto;height:100%;}
/* ͷ��������ͼ�� */
#navbarHeader .nav i{
	margin-top:0px
}
/* ���˵�����ͼ�� */
#sidebar #nav-menu li.gray i{
	margin-right:5px;margin-top:0px;
}
#sidebar #nav-menu li.gray b{
	margin-top:9px;
}
#sidebar-collapsed #imgs{
	margin:auto 0px;display:block;margin-top:300px;
}
/* ������� */
#sidebar #search_form #search_notice{
	display:none;width:132px!important;margin:-1px 0 0 0px!important;left:61px !important;
}
/* ����̨�˵� */
#commanMenu .dlMenu{
	padding:10px 22px 0px !important;
}
/* ��ť�����ҿ�� */
#center .row-fluid .span6{
	width:47%;
}
/* tab���⹤��̨ */
#jerichotab_0 .tab_left div:first-child{
	font-family:"Microsoft YaHei";text-align:center;padding-left:10px;line-height:29px;text-indent:6px;width:75px;font-size:15px;
}
/* ����ҳ�水ť */
#jump-content .save a{
	display:inline-block;line-height:22px;
}
/* ��¼��ť*/
#loginbox #form-actions a{
		background:url(../assets/images/gallery/navbg.jpg) repeat-x !important;
		position:relative; z-index:9999;
}
#loginbox #form-actions a:hover{
		background:url(../assets/images/gallery/tab4.jpg) repeat-x !important; text-decoration:none;cursor:pointer;
}
/* ��¼ҳ����� */
.bg_lg{ 
	background:url(../assets/images/gallery/navbg.jpg) repeat-x !important;position:relative; z-index:9999;
}
#loginbox .main_input_box input{
	height:32px; border:0px;background:#f2f2ee; display:inline-block; width:65%; line-height:28px;
}
.main_input_box #userId{
	margin-left:0px;
}
#loginbox .main_input_box .add-on{
	padding:10px 9px;top:9px;
}
/* ��񲿷� */
.fixed-table-container .fixed-table-bg{
	background:rgb(240, 240, 248);
}
.fixed-table-container .fixed-table-header{
	margin-right:20px;
}
/* main.jsp�Ĳ��ֿ�� */
.welcom_dcl ul {
	width:47.5% !important;
}

/* 工作台菜单 */
.welcome_main{
	background:#f7fbff !important;
}
/* �ײ���ҳ */
.bottomPage{
	left:240px;top:0px !important;line-height:30px !important;
}
.bottomPage + select{
	margin-top:0px;
}
/* ������ҳ����� */
#_Draghandle_0 td + td div{
	width:100px;
}
#_Draghandle_0 td + td div img{
	float:left;
}
#_Draghandle_0 td + td div span{
	float:left;
}
/* Ʊ������ҳһ���ĸ�����ʾ */
#page-content .detail-form .row-fluid label{
	width:90px;
}
#page-content #header .row-fluid .batch{
	width:177px;
}
/* ������������� */
.select2-search input{
	width:84%;
}
#select2-drop{
	width:175px !important;
}
/* jbox��ť */
div.jbox .jbox-button{
	border:none;
}
/* jbox���� */
#tagSelectSearch{
	background:url(weblib/assets/images/gallery/navbg.jpg) repeat-x !important;border:none!important;padding:2px 4px!important;
	margin-left:-4px!important;color:#fff!important;font-size:14px!important;
}
/* fieldset��ǩ */
#jump-content .field{
	border:none!important;
}
/* ��Ʊϵͳ��ϸ��Ϣ�鿴ҳ��(���汳����Ϣ) */
#ele-img{
	height:40px;margin-left:50px;
}

