#navbar{
	width:100%;z-index:800;height:45px;background:url(../assets/images/gallery/navbg.jpg) repeat-x;
	border-bottom: 2px solid #0F7FDA !important;margin-bottom:0px;
}
#navbarHeader{
	margin-right:20px;
}
#navbarHeader .ace-nav li{
	border:none;line-height:45px;
}
#navbarHeader #note{font-size:16px}
#navbarHeader .nav .bgColor{
	background: url(../assets/images/gallery/navbg.jpg) repeat-x;color:#fff;padding:0 10px;
}
#navbarHeader .nav .bgColor:hover{
	background: #91c6ef;color:#fff;cursor:pointer
}
#navbarHeader .nav .bgColor:hover i{
	background: #91c6ef;color:#fff;
}
#navbarHeader .white{
	margin-right:50px;color: #fff !important;
}
#navbarHeader .white span{
	font-size:16px
}
#navbarHeader .white span small{
	margin-left:20px;
}
#navbarHeader .white a,i{color: #fff !important;}
#navbar-container{
	height:45px;
}
#navbar-container .navbar-header{
	line-height:42px;margin-left:30px;
}
#navbar-container .navbar-brand{
	color:#fff !important;font-size:22px;
}

/* 左侧菜单 */
#main-container{
	width:100%;
}

#nav-menu{
	width:100%;font-size:15px;margin-left:0px;overflow-y:auto;padding:0px;
}
#nav-menu li.actived .firstLevelNav{background-color: #fff;color: #428bca;font-size: 15px;
}
#nav-menu .firstLevelNav{padding: 0 16px 0 13px;}
#nav-menu li.actived .firstLevelNav b{
	color: #2b7dbc;font-size:18px;float:right;
}
#nav-menu li.gray .firstLevelNav b{
	float:right;
}
#nav-menu .submenu .secondActived .func{color:#616161;font-weight:bold;
/* border-top:1px dotted #bfb9b9; */}
#nav-menu .submenu .secondActived .func i{color:#c86139;display: inline-block;font-weight:bold;}
#main-container #sidebar {
	width:190px;padding:10px 5px 0px;background:#dcedff;float:left;
}
#sidebar #nav-menu a.func:hover{text-decoration: none;
}	
#sidebar #nav-menu li.gray{
	border:1px solid #57bfe4;border-radius:5px;margin-bottom:5px;min-height:40px;
	background:url(../assets/images/gallery/navbg3.jpg) repeat !important;
}
#sidebar #nav-menu li.gray ul{
	list-style:none;margin:0px;
}
#nav-menu li.gray .first_child{
	font-size:16px;background: url(../assets/images/gallery/navbg3.jpg) repeat-x !important;
	border-radius:5px;line-height:39px;margin:0px;padding:0 10px;
}
#nav-menu li.gray .first_child i{color:#999 !important;}
#nav-menu li.gray ul li.second_nav{
	background:#ecf7fd !important;margin:0px;line-height:35px;
}
#nav-menu li.gray ul .second_child{
	line-height:20px;margin:0px;
}
/* 左侧菜单搜索部分 */
#main-container #searchForm{
	margin:0px;
}
#sidebar #search_form{
	margin-bottom:5px;
}
#sidebar #search_form #search_content{
	width:145px;margin:0px;border-radius:0px;
}
#sidebar #search_form #search_btn{
	width:30px;background:#eee;border:1px solid #ccc;height:29px;margin-left:-5px;
}
#sidebar #search_form #search_notice{
	display:none;width:156px;position:absolute;left:35px;z-index:10;background:#fff;border:1px solid #ccc;list-style:none;margin:0 0 0 1px;
}
#sidebar #search_form #search_notice li{
	line-height:25px;padding-left:5px;border-bottom:1px dotted #999;cursor:pointer
}
#sidebar #search_form #search_notice li a{
	color:#666;text-decoration:none;
}
#sidebar #search_form #search_notice li.active{
	background:#eee;
}
#sidebar #search_form #search_notice li:hover{
	background:#eee;
}
/* 左侧菜单右键功能，添加到工作台 */
#sidebar #box{position: absolute;z-index:10; display: none; left: 60px; top: 218px; border: 1px solid rgb(204, 204, 204); background: #fff; width: 90px; text-align: center;}
#sidebar #box ul{list-style: outside none none; margin: 0px;}
#sidebar #box ul li{cursor:pointer;}
#sidebar #box ul a{color: #666; text-decoration: none; line-height: 25px;}
#sidebar #box ul li:hover{background:#f9f9f9;}

#sidebar-collapsed{cursor:pointer;width:6px;background:#8fd7f3;height:585px;float:left;line-height:585px;color:#999;overflow:hidden;}
#sidebar-collapsed #imgs{margin-left:-6px;color:#999 !important}
#mainContent{margin-left:206px;background: url(../assets/images/gallery/index_bg1.jpg) no-repeat;
	background-size:cover;}
#mainFrame{
	/* margin:10px auto 0px; */width:100%;padding-top:5px;
}
#btn-scroll-up{
	margin:0 40px 30px 0;width:30px;height:30px;
}
#mainFrame #zDialogCon{padding:0px;}
/* 窗口变化时页面的宽度变化 */
/* #home{min-width: 1360px;width: expression(document.body.clientWidth < 1360? "1360px": "100%"} */
/* @media only screen and (max-width:1360px) {
	#home {
		width:1360px;
	}
} */ 
#parentFrame{
	background: url(../../weblib/assets/images/gallery/index_bg1.jpg) no-repeat;
	background-size:cover;
}

