/* main.jsp样式 */
#mainDiv{width:auto;height:98.7%;}
#detailDiv2{margin-top:5px;}
.welcome_main {
	width: 99.5%;
	height: 100%;
	font-size: 12px;
	font-family:'微软雅黑';
	color: #626262;
	background:none;
	background-size:cover;
	padding:0px 3px;
	line-height:0px;
}
.welcom_dcl{
	width:100%;height:47%;
}
.welcom_dcl ul {
	list-style: none;
	width:48%;
	height:100%;
	float:left;
	padding:10px;
	overflow:hidden;
	margin:0px;
}
.welcom_dcl li {
	padding: 0px;
	margin: 0px 0 0 10px;
	height: 30px;
	line-height: 30px;
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	border-bottom: 1px #999 dashed;
}
.welcom_dcl li a{color: #626262;text-decoration:none;}
.welcom_dcl li:last{border-bottom:none;}
.welcom_dcl li a:hover {
	color: #156cb6;
	text-decoration: underline;
}
.welcom_dcl li span {
	padding: 0px 10px;
	float: right;
}
.welcom_dcl li span.red {
	color: #F00;
}
.welcom_dcl li span.green {
	color: #2f9e11;
}
.welcom_dcl li span.blue {
	color: #0060e3;
}
.welcom_dcl li span.grey {
	color: #666666;
}
/* 工作台常用菜单功能 */
#delate{position: absolute;z-index:10; display: none; left: 60px; top: 218px; border: 1px solid rgb(204, 204, 204); background: #fff; width: 90px; text-align: center;}
#delate ul{list-style:none; margin: 0px;}
#delate ul li{cursor:pointer}
#delate ul a{color: #666; text-decoration: none; line-height: 25px;}

#commanMenu{
	width:100%;margin-bottom:5px;border:1px solid rgb(194, 226, 251);min-height:75px;display:none;
}
#commanMenu .dlMenu{float:left;padding:0 22px;margin-bottom:0px;}
#commanMenu .dlMenu dt{text-align:center;}
#commanMenu .dlMenu dd{margin-top:6px;cursor:pointer;}
#commanMenu .dlMenu dd a{color:#666;text-decoration:none;}















